name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    uses: adobe/aio-reusable-workflows/.github/workflows/node.js.yml@main
    secrets: inherit